.block {
    height: 100px;
}

.grey {
    background-color: rgb(26, 25, 25);
}

.orange {
    background-color: rgb(218, 81, 2);
}

.yellow {
    background-color: rgb(240, 166, 8);
}

.black {
    background-color: black;
}

@media (min-width: 576px) { 
    .block {
        height: 40px;
    }
}

@media (min-width: 768px) {
    .block {
        height: 60px;
    }
}

@media (min-width: 992px) {
    .block {
        height: 80px;
    }
}